/* gallery styles */

#gallery a img {
  border:none;
}

#gallery { position: relative; }
#gallery #controls img{
        vertical-align:middle;
        }

#gallery {
        width:640px;
        }
        
#gallery .image {
        margin: auto;
        text-align: center;
        width: 480px;
        }
        
#gallery .image-title {
        font-weight:bold;
        margin-top:5px;
        }
        
#gallery .description {
        margin-top:5px;
        line-height: 1.4;
        }
#gallery .thumbnail-link {
	text-align: center;
	margin: auto;
	display: block;
}
/* pager styles */

#pager {
        font-family:Arial, Helvetica, sans-serif;
        font-size:12px;
        }
        
#gallery #pager .pageritem {
        border:solid 1px #ccc;
        padding:4px;
        text-align: center;
        margin-right:5px;
        display: inline-block;
        text-decoration: none;
        }
#gallery #pager span.spacer {
        width: 49px;
        border: 0;
}       
        
#pager a.pageritem:hover, #pager .current_item {
        background-color:#3399FF;
        color:#fff;
        }
        
#pager a.pager_next_button {
        display: block;
        position: absolute;
        top: 40%;
        right: 20px;
}
#pager a.pager_previous_button {
        display: block;
        position: absolute;
        top: 40%;
        left: 30px;
}

.thumbs #pager a.pageritem {
	position: static;
}
#gallery .thumbs .image {
  float: left;
  width: 120px;
  padding: 5px; 
}       

#gallery .thumbs {
  clear: both;
}

/* RULE for IE <= 7 */
#gallery #pager div.pageritem { 
  *display: inline;
}

/* end pager styles */