/*------------------ General ------------------*/
body {
    font-family: 'Quicksand', sans-serif;
    background: url("../../../images/body-bg5.jpg") repeat-x top left;
}
.summary {
    font-size: 16px;
}
.page-container div.row-fluid div.column-middle {
    background: url("../../../images/dashed-border-vert.png") repeat-y right top;
    border-right: none;
    padding-right: 20px;
}
.page-container .respond-container {
    border-right: none;
}
.page-container .row-fluid {
    border-bottom: 1px dotted #999;
}
.page-container .row-fluid:last-of-type {
    border: none;
}
a {
    color: #00D4FB;
}
@media (max-width:350px) {
    .respond-container.column-right div.module.rad, .calendar-sidebar div.module.rad {
        padding: 10px 0 !important;
        background: none;
        margin: 0 -5px;
    }
}

/*------------------ Header ------------------*/

@media (min-width: 980px) {
    .logo-wrapper {
        top: 0;
        z-index: 9999;
    }
    div.branding {
        height: 180px;
    }
    header.navbar {
        border-bottom: 2px solid #000;
    }

    /*--- Eyebrow ---*/
    header.navbar .navbar-inner .container-fluid .eyebrow {
        position: absolute;
        background: #666;
        border-bottom: 1px solid #ccc;
    }
    header.navbar .navbar-inner .container-fluid .eyebrow nav.eyebrow #eyebrow-list.nav {
        float: right;
    }
    header.navbar .navbar-inner .container-fluid .eyebrow nav.eyebrow #eyebrow-list.nav > li > a {
        font-family: 'Pathway Gothic One', sans-serif;
        border-right: 1px solid #000;
        font-size: 115%;
        padding: 0 8px;
        line-height: 1em;
        margin-top: 5px;
        color: #fff;
        margin-bottom: 4px;
    }
    header.navbar .navbar-inner .container-fluid .eyebrow nav.eyebrow #eyebrow-list.nav > li > a.last {
        border: none;
        margin-right: 10px;
    }
    header.navbar .navbar-inner .container-fluid .eyebrow nav.eyebrow #eyebrow-list.nav > li > a.social-media-link,
    header.navbar .navbar-inner .container-fluid .eyebrow nav.eyebrow #eyebrow-list.nav > li > a.social-media-link:hover {
        font-size: 0px;
        color: transparent !important;
        width: 25px;
        height: 25px;
        margin-right: 0;
        overflow: hidden;
        border: none;
        margin: 0;
        padding: 0 3px;
    }
    #eyebrow-list.nav > li > a.facebook, #eyebrow-list.nav > li > a.facebook:hover {
        background-image:url('../../../images/facebook-black.png');
        background-repeat: no-repeat;
        margin-left: 5px;
        margin-right:0;
    }
    #eyebrow-list.nav > li > a.twitter, #eyebrow-list.nav > li > a.twitter:hover {
        background-image:url('../../../images/twitter-black.png');
        background-repeat: no-repeat;
        margin-left: 0px;
    }
    #eyebrow-list.nav > li > a.instagram, #eyebrow-list.nav > li > a.instagram:hover {
        background-image:url('../../../images/instagram-black.png');
        background-repeat: no-repeat;
        margin-left: 0px;
    }
    #eyebrow-list.nav > li > a.youtube, #eyebrow-list.nav > li > a.youtube:hover {
        background-image:url('../../../images/youtube-black.png');
        background-repeat: no-repeat;
        margin-left: 0px;
    }
    header.navbar .navbar-inner .container-fluid .eyebrow nav.eyebrow #eyebrow-list.nav > li > a.social-media-link:hover {
        opacity: 0.6;
    }
    header.navbar .navbar-inner .container-fluid .eyebrow nav.eyebrow {
        width: 100%;
    }

    /*--- Search ---*/
    #sitesearch {
        bottom: auto;
        top: 45px;
    }
    #sitesearch .search-button-wrapper .btn {
        background: url('../../../images/search-icon-black.png') no-repeat;
        border: none;
        box-shadow: none;
        margin-top: 5px;
    }
    #sitesearch .search-button-wrapper .icon-search {
        background-image: none;
        width: 20px;
        height: 20px;
    }
    .navbar-search .search-query {
        border-radius: 2px;
    }

    /*--- Leaderboard ---*/
    header#header.navbar div.navbar-inner div.container-fluid div.rad {
        position: absolute;
        right: 0;
        top: 90px;
        height: 90px;
        padding: 0;
    }

    /*------------------ Main Navigation ------------------*/
    .nav-container {
        border-top: none;
    }
    header.navbar #menu-parent-row nav.nav-container .nav-wrapper .nav > li div.menu-item-wrapper > a {
        font-family: 'Pathway Gothic One', sans-serif;
        text-transform: uppercase;
        font-size: 240%;
    }
        header.navbar #menu-parent-row nav.nav-container .nav-wrapper .nav > li div.menu-item-wrapper > a:hover {
            color: #000;
        }
        header.navbar #menu-parent-row nav.nav-container .nav-wrapper .nav > li.long div.menu-item-wrapper > a:hover {
            background: url("../../../images/navbg-long2.png") no-repeat center;
        }
        header.navbar #menu-parent-row nav.nav-container .nav-wrapper .nav > li.extra-long div.menu-item-wrapper > a:hover {
            background: url("../../../images/navbg-extralong.png") no-repeat center;
        }
        header.navbar #menu-parent-row nav.nav-container .nav-wrapper .nav > li.medium div.menu-item-wrapper > a:hover {
            background: url("../../../images/navbg-med2.png") no-repeat center;
        }
        header.navbar #menu-parent-row nav.nav-container .nav-wrapper .nav > li.short div.menu-item-wrapper > a:hover {
            background: url("../../../images/navbg-short2.png") no-repeat center;
        }
        header.navbar #menu-parent-row nav.nav-container .nav-wrapper .nav > li.extrashort div.menu-item-wrapper > a:hover {
            background: url("../../../images/navbg-extraShort.png") no-repeat center;
        }


    /*------------------ Topics Menu ------------------*/
    .third-level-menu .nav-container {
        border-top: 10px solid #000;
    }
    .third-level-menu .nav-container ul.nav > li > div.menu-item-wrapper > a {
        font-family: 'Pathway Gothic One', sans-serif;
        text-transform: uppercase;
        font-size: 150%;
        padding: 6px 10px;
    }
    .third-level-menu .nav-container ul.nav > li.no-click > div.menu-item-wrapper > a {
        cursor:default;
    }
    .third-level-menu .nav-container ul.nav > li.no-click > div.menu-item-wrapper > a:hover {
        cursor:default;
        color:#000;
    }
        .third-level-menu .nav-container ul.nav > li > div.menu-item-wrapper > a:hover {
            color: #02D1F9;
        }
    .third-level-menu nav.third-level-menu div.container-fluid {
        padding: 0;
    }
    .third-level-menu .nav-container ul.nav > li:first-of-type > div.menu-item-wrapper > a {
        padding-left: 0;
    }
}
@media (max-width: 980px) {
    .nav-menus {
        background: #000;
    }
    .collapsed-menus-wrapper .menu-collapsed {
        color: #fff;
    }
    .menu-collapsed span.caret {
        border-bottom-color: #fff;
        border-top-color: #fff;
    }
    .third-level-menu nav.third-level-menu div.third-level-menu-list-small-wrapper,
    .main-menu div.main-menu-list-small-wrapper {
        background: #EEEEEE;
    }
    .collapsed-menus-wrapper .menu-collapsed:hover {
        color: #999;
    }
    #sitesearch .search-button-wrapper .btn {
        background: url('../../../images/search-icon-gray.png') no-repeat;
        border: none;
        box-shadow: none;
        margin-top: 5px;
    }
    #sitesearch .search-button-wrapper .icon-search {
        background-image: none;
        width: 20px;
        height: 20px;
    }
}

/*------------------ Splash ------------------*/
.sg-splash-bottom-menu {
    position:relative;
    overflow:hidden;
    width:100%;
}
.sg-splash-bottom-menu .pagination ul {
    display:block;
    margin-left: -25px;
}
.sg-splash-bottom-menu .imageContainerSpace {
    position:relative;
    padding:0px;
    margin:0px;
}
.sg-splash-bottom-menu .imageContainer {
    position:relative;
}
.sg-splash-bottom-menu .imageContainer .galleryImage {
  position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:auto;
}
.sg-splash-bottom-menu .imageContainer a img {
    width:100%;
    height:auto;
}
.sg-splash-bottom-menu .galleryMenuSpace {
    position:relative;
    background-color:transparent;
    padding:5px 5px 0 50%;
    margin-left: 44%;
    min-height:0px !important;
    bottom:0px;
    left:0px;
    right:0px;
    padding: 5px 0 0 0 !important;
}
.sg-splash-bottom-menu .galleryMenu {
    text-align:center;
    height:auto;
    width:auto;
}
.sg-splash-bottom-menu .galleryMenuSpace .galleryMenuNavigation, .sg-splash-bottom-menu .galleryMenu .galleryMenuItem {
    cursor:pointer;
    float:left;
    display:block;
    margin-left:5px;
    margin-bottom:5px;
}
.sg-splash-bottom-menu.sg-option-controls.sg-option-descriptions.sg-option-menu .controls {
    top: 0;
    right: 0;
    width: 100%;
    margin-top: 20%;
    height: 40px;
}
.sg-splash-bottom-menu.sg-option-menu.sg-option-controls .controls i.icon-chevron-left {
    background-image: url('../../../images/previous-on.png');
    background-position: top;
    height: 34px;
}
.sg-splash-bottom-menu.sg-option-menu.sg-option-controls .controls i.icon-chevron-right {
    background-image: url('../../../images/next-on.png');
    background-position: top;
    height: 34px;
}
.sg-splash-bottom-menu.sg-option-menu.sg-option-controls .controls button.next {
    position:absolute;
    right:0;
    background-image: none;
    background-color: transparent;
    height: 34px;
}
.sg-splash-bottom-menu.sg-option-menu.sg-option-controls .controls button.previous {
    background-image: none;
    background-color: transparent;
    height: 34px;
}
.sg-splash-bottom-menu.sg-option-menu.sg-option-controls .controls .btn {
    box-shadow: none;
}
.sg-splash-bottom-menu .playpause {
    display: none;
}
.sg-splash-bottom-menu .galleryMenuSpace .galleryMenuNavigation .galleryMenuItemInner,
.sg-splash-bottom-menu .galleryMenu .galleryMenuItem .galleryMenuItemInner {
    font-size: 1px;
    line-height:2px;
    height:12px;
    width:12px;
    padding:0;
    text-align:center;
    display:block;
    color:#666;
    background-color:#cfcfcf;
    border-radius: 10px;
    border:none;
}
.sg-splash-bottom-menu .galleryMenuSpace .galleryMenuNavigation .galleryMenuItemInner:hover,
.sg-splash-bottom-menu .galleryMenu .galleryMenuItem .galleryMenuItemInner:hover {
    background-color:#02D1F9;
    text-decoration:none;
    color:#000!important;
}
.sg-splash-bottom-menu .galleryMenuSpace .galleryMenuNavigation.selected .galleryMenuItemInner,
.sg-splash-bottom-menu .galleryMenuSpace .galleryMenuNavigation.selected .galleryMenuItemInner:hover,
.sg-splash-bottom-menu .galleryMenu .galleryMenuItem.selected .galleryMenuItemInner,
.sg-splash-bottom-menu .galleryMenu .galleryMenuItem.selected .galleryMenuItemInner:hover {
    background-color: #02D1F9;
    color:#000!important;
    border-radius: 20px;
}
.sg-splash-bottom-menu .contentContainerSpace {
    min-height:0 !important;
    margin-top:-180px;
    margin-bottom: 20px;
}
.sg-splash-bottom-menu .contentContainerSpace .contentContainer {
    position:absolute;
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom:10px;
    padding-top: 10px;
    min-height:0px !important;
    overflow:hidden;
    bottom: 21px;
}
.sg-splash-bottom-menu .contentContainerSpace .contentContainer .caption {
    font-family: 'Bubblegum Sans', sans-serif;
    padding-left: 10px;
}
.sg-splash-bottom-menu .contentContainerSpace .contentContainer .description {
    padding-left: 10px;
    font-size: 150%;
}
.sg-splash-bottom-menu .contentContainerSpace .contentContainer a {
    color: #000;
    text-shadow: 1px 1px 2px rgba(96, 94, 92, 1);
    font-size: 180%;
    line-height: 1em;
    font-family: 'Rokkitt', serif;
    font-weight: bold;
}
.sg-splash-bottom-menu .contentContainerSpace .contentContainer a:hover {
    text-decoration:none;
    color: #02D1F9;
    text-shadow: 1px 1px 2px rgba(96, 94, 92, 1);
}
.sg-splash-bottom-menu .contentContainerSpace .contentContainer .galleryContent {
    position:absolute;
    color:#000;
}
.sg-splash-bottom-menu .contentContainerSpace .contentContainer .galleryContent .caption {
    font-size:22px;
    margin-bottom:.25em;
    line-height:1em;
}
.sg-splash-bottom-menu .contentContainerSpace .contentContainer .galleryContent .photo-credit {
    margin-bottom:.25em;
    text-align:left;
    font-weight:bold;
}
.sg-splash-bottom-menu.sg-option-menu.sg-option-controls .controls button:last-child {
    margin-right:0;
}
.sg-splash-bottom-menu.sg-option-controls.sg-option-captions, .sg-splash-bottom-menu.sg-option-controls.sg-option-photocredits, .sg-splash-bottom-menu.sg-option-controls.sg-option-descriptions {
    padding-bottom: 0;
}
@media (max-width: 979px) {
    .sg-splash-bottom-menu .contentContainerSpace .contentContainer {
        position:absolute;
        background-color: #000;
        right:0px;
        padding-bottom: 10px;
        min-height:0px !important;
        width:100%;
        overflow:hidden;
    }
    .sg-splash-bottom-menu .contentContainerSpace .contentContainer a {
        color: #fff;
        text-shadow: none;
    }
    .sg-splash-bottom-menu .contentContainerSpace .contentContainer .galleryContent .description {
        color: #fff;
    }
    .sg-splash-bottom-menu, .sg-splash-bottom-menu.sg-option-menu,
    .sg-splash-bottom-menu.sg-option-menu.sg-option-controls {
        padding-bottom:0;
    }
    .sg-splash-bottom-menu .galleryMenuSpace .galleryMenuNavigation .galleryMenuItemInner,
    .sg-splash-bottom-menu .galleryMenu .galleryMenuItem .galleryMenuItemInner,
    .sg-splash-bottom-menu.sg-option-menu .galleryMenuSpace .galleryMenuNavigation .galleryMenuItemInner,
    .sg-splash-bottom-menu.sg-option-menu .galleryMenu .galleryMenuItem .galleryMenuItemInner,
    .sg-splash-bottom-menu.sg-option-menu.sg-option-controls .galleryMenuSpace .galleryMenuNavigation .galleryMenuItemInner,
    .sg-splash-bottom-menu.sg-option-menu.sg-option-controls .galleryMenu .galleryMenuItem .galleryMenuItemInner {
        line-height:2px;
        height:10px;
        width:10px;
    }
    .sg-splash-bottom-menu .contentContainerSpace {
        min-height:0 !important;
        margin-top:-15px;
    }
}

/*------------------ Modules ------------------*/
@media (max-width: 980px) {
.module {
  margin-bottom:30px !important;
}}
.module > h2 {
    font-family: 'Pathway Gothic One', sans-serif;
    background: none;
    font-weight: normal;
    font-size: 260%;
    color: #444;
    border-bottom: 2px solid #444;
    border-top: 2px solid #444;
    margin-bottom: 10px;
    padding-bottom: 2px;
}
h3.article-title a {
    font-family: 'Rokkitt', serif;
    color: #000;
    font-size: 210%;
    line-height: 0.8em;
}
    h3.article-title a:hover {
        color: #02D1F9;
    }
.content-item-list h2 a.btn.archive {
    font-weight: normal;
    background:  #02D1F9;
    color: #fff;
    border: none;
    box-shadow: none;
    text-shadow: none;
    padding: 1px 5px 2px;
    width: 50px;
    font-size: 60%;
    border-radius: 3px;
    font-size: 45%;
    margin-top: 8px;
}
.content-item-list h2 a.btn.archive:hover {
    opacity: 0.8;
}
.content-item-list .articles .article-item .article-content .article-tag,
.article-list .articles .article-item .article-content .article-tag,
.gallery-list .articles .article-item .article-content .article-tag {
    background: none repeat scroll 0 0 #DDDDDD;
    border-radius: 4px;
    font-family: 'Pathway Gothic One',sans-serif;
    font-size: 105%;
    font-weight: normal;
    padding: 1px 5px;
    text-transform: uppercase;
    color: #4d4d4d;
}
header#header.navbar div#nav-menu-wrapper div.navbar-inner div.container-fluid div.rad {
    overflow: visible;
}


/*--- The Magazine ---*/
.on-newsstands-now div.content div.cover-image {
    width: 40%;
    float: left;
}
.on-newsstands-now div.content div.cta {
    width: 45%;
    float: left;
    padding-left: 15px;
}
.on-newsstands-now div.content div.cta a {
    font-family: 'Rokkitt', serif;
    color: #000;
}

/*--- Right Column ---*/
.respond-container.column-right div.module:last-of-type {
    padding: 10px;
    border: none;
}
.respond-container.column-right div.module,
.calendar-sidebar div.module {
    background: none;
    border: none;
    background: #ddd;
    padding: 10px;
}
.respond-container.column-right div.module h2,
.calendar-sidebar div.module h2 {
    background: #000;
    color: #fff;
    font-weight: normal;
    padding: 3px 8px 5px;
    font-size: 180%;
    border: none;
}
.respond-container.column-right div.module.social-media,
.calendar-sidebar div.module.social-media {
    text-align: center;
    padding: 20px 0;
}
.respond-container.column-right div.module.social-media a,
.calendar-sidebar div.module.social-media a {
    padding-right: 5px;
}
.calendar-view-search-form {
    display: none;
}
ul.calendar-events-list li.featured {
    background: #ddd;
    border-bottom: 1px dotted #999;
}
ul.calendar-events-list li {
    border-bottom: 1px dotted #999;
}
.featured-events-btn a {
    background: #3BC6EF;
    color: #fff;
    text-align: center;
    display: block;
    padding: 4px 0;
    border-radius: 4px;
}
    .featured-events-btn a:hover {
        text-decoration: none;
        opacity: 0.7;
    }
.featured-events-btn {
    margin-bottom: 10px;
}
.calendar-list-view div.content ul.calendar-events-list li.featured h4 a,
.most-viewed div.content ol li a {
    color: #4d4d4d;
}

/*------------------ Article Styles ------------------*/
.breadcrumb li span.divider {
    padding-right: 0;
}
.breadcrumb li span.divider:after {
    content: "/";
    padding-right: 5px;
}
#article-container .article h1.article-title, .article-slideshow-fullpage .article h1.article-title {
    font-family: 'Rokkitt', serif;
    font-size: 320%;
    margin: 0;
}
#article-container .article h3.deck, .article-slideshow-fullpage .article h3.deck {
    font-family: 'Quicksand', sans-serif;
    font-size: 160%;
    margin-top: 0;
}
#article-container p {
    line-height: 1.5em;
    margin-bottom: 20px;
}
.photo-caption img {
    padding: 5px 0;
}
.photo-caption p {
    border-bottom: 1px solid #A6A6A6;
    padding-bottom: 3px;
    color: #000000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1em;
    margin-bottom: 0;
    margin-top: 0.75em;
    text-transform: uppercase;
}
.module .deck {
    font-size:16px;
}

/*------------------ Events Page ------------------*/
.datepicker:before,
.datepicker:after {
    display: none;
}
.calendar-sidebar {
    background: url("../../../images/dashed-border-vert.png") repeat-y left top;
    padding-left: 20px;
}
.calendar-results,
.calendar-detail {
    border: none;
}

/*------------------ Footer ------------------*/
footer {
    background: #000;
    color: #fff;
    margin-top:30px;
}
footer a {
    color: #fff;
}
footer ul.nav li a:hover {
    background: none;
    color: #999;
    text-decoration: underline;
}

/*------------------ Custom Tulsa Voice Styles ------------------*/

.featured h2 {display:none;}
.calendar-body .featured h2 {display:block;}
.featured h3 a {font-size:300%; line-height:105%;}
.featured  .summary {font-size:150%; line-height:105%;}

.page-content .pullquote, .pullquote {font-family: 'Rokkitt', serif; color: #000;}

.article {padding-bottom: 1em;}

/* Sidebar-Right updated on 7/2/14 - Style was getting overwritten by global reset */

.page-content .sidebar-right, .sidebar-right {color: #555;
       border-left: none;
       border-right: 1px dotted #000;
       border-top: 1px dotted #000;
       border-bottom: 1px dotted #000;
       font-family: 'Rokkitt', serif;
       line-height: 1.3em;
       padding: 15px 15px 15px 0;
       font-size: 17px;
       text-align: left;
       float: left;
       margin: 0 15px 5px 0;
}

.upper-row h3.article-title a {
       font-size: 375%;
       line-height: 75%;
}

/* Mobile Layout Revisions */

@media (max-width: 768px) {

    .page-container div.row-fluid div.column-middle {
        background: none;
        padding-right: 10px;
    }

    .page-container .row-fluid {
        border-bottom: none;
    }

    .content-item-list .articles .article-item .article-image.image_pos_left {
        width: 100%!important;
        margin-bottom: 1em;
    }

}

@media (max-width: 980px) {

    .content-item-list .articles .article-item .article-image.image_pos_left {
        margin-bottom: 1em;
    }

    .collapsed-menu-btn-wrapper > button {
        font-family: 'Pathway Gothic One', sans-serif;
    }

    .logo-wrapper {
        background: #0d0d0d;
        border-bottom: 5px solid #FFFFFF;
    }

}

/* Increase Article H1 Size*/

#article-container .article h1.article-title {
    font-size: 400%;
}

/* Fontello Social Icons */

@font-face {
  font-family: 'fontello';
  src: url('../../../css/fonts/fontello_70772000.eot');
  src: url('../../../css/fonts/fontello_70772000.eot#iefix') format('embedded-opentype'),
       url('../../../css/fonts/fontello_70772000.woff') format('woff'),
       url('../../../css/fonts/fontello_70772000.ttf') format('truetype'),
       url('../../../css/fonts/fontello_70772000.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg_70772000.html#fontello') format('svg');
  }
}
*/

[class^="icon-"], [class*=" icon-"] {
    width: auto;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
    /*color: #4d4d4d;*/
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-youtube-play:before { content: '\e803'; } /* 'î ƒ' */
.icon-twitter:before { content: '\e801'; } /* 'î ' */
.icon-facebook:before { content: '\e800'; } /* 'î €' */
.icon-instagram:before { content: '\e802'; } /* 'î ‚' */

/* Social Icon Overrides */

.module.social-media a {
    margin-left: 5px;
    padding-right: 0!important;
    display: inline-block;
    font-size: 35px;
    height: 35px;
    line-height: 35px;
}

.module.social-media a:hover {
    color: #000000;
}

.module.social-media a:first-child {
    margin-left: 0;
}

/* Header Background Image Stretch */

header.navbar #menu-parent-row nav.nav-container .nav-wrapper .nav > li div.menu-item-wrapper > a:hover {
    -webkit-background-size: 90% 14px!important;
    -moz-background-size: 90% 14px!important;
    -o-background-size: 90% 14px!important;
    background-size: 90% 14px!important
}


/* Custom Section Title (See /About-Us for Example) */
/* Updated on 7/2/14 - Line Height attr was getting overwritten by global reset */


.custom-title {
    width: 100%;
    position: relative;
    background: #000;
    margin-bottom: 1em;
}

html .article .custom-title h2, .custom-title h2 {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    padding: 0 10px;
    margin: 0;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
}

div.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    right: 10px;
    top: 50%;
    margin-top: -10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

div.circle.magenta {
    background-color: #ff04fe;
}

div.circle.cyan {
    background-color: #02D1F9;
}

div.circle.white {
    background-color: #FFFFFF;
}

div.circle.yellow {
    background-color: #fff900;
}

div.circle.gray {
    background-color: #a9a9a9;
}

@media (max-width: 980px) {
   header#header.navbar div#nav-menu-wrapper div.navbar-inner div.container-fluid div.rad {
        display: none !important;
    }
}
@media (max-width: 767px) {
    .featured-events-btn {
        margin-bottom: 30px;
    }
    .page-container .respond-container div.module:last-of-type {
        border: none;
        margin: 0;
        padding: 0;
    }
    .sg-splash-bottom-menu .contentContainerSpace {
        margin-top: 20px;
        margin-bottom: 0;
    }
    .row-fluid.upper-row div.column-middle div.module {
        margin-bottom: 10px !important;
    }
    .navbar {
        margin-bottom: 30px;
    }
}
@media (min-width:600px) {
    .rad div.advertisement {
        display: none;
    }
}

.image-fullsize img {
        display: block;
        width: 100%!important;
        height: auto!important;
        margin: 0 0 1em;
}

.page-content hr {
       border-top-color: #999;
}